@charset "utf-8";
/* CSS Document */
h1 {
	font-size: 30px;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-style: normal;
	font-weight: 400;
	color: #BB6748;
	text-align: center;
	text-transform: none;

}

h2 {
	text-align: right;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: #00000;
	font-style: normal;
	font-weight: 400;
}
